<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Deepak Yadav</title>
		<meta name="description" content="Deepak-My Web Page" />
		<meta name="keywords" content="Penelope, responsive resume template, cv template, multipurpose, responsive template, vcard, html5 template, themeforest, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js" />
		<meta name="author" content="Hencework"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#services_sec"></a><span>services</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#client_sec"></a><span>known technologies</span></li>
								<li><a data-scroll href="#work_sec"></a><span>work</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>eductaion</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								WELCOME TO MY WEBPAGE
								</span>
								</a>	
							</div>
							</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Hey!<span id="typed"></span>
							</h1>
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s" style="text-align:justify;">
								Hi! My name is M Deepak Yadav.I am passionate about my work because I love what I do, I have a steady source of motivation that drives me to do my best. I thrive on challenge and constantly set goals for myself, so I have something to strive towards. I’m not comfortable with settling, and I’m always looking for an opportunity to do better and achieve greatness.my journey as a self-starter has taught me a lot of things about myself, but the most important thing I've learned is that I don't give up. It takes more than natural talent to become good at something; you simply have to do it.I am basically a eco-freak and I just love to walk around in wonderful spots that take after the shire while investigating new culinary landscapes.
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s" style="text-align:center;" style="font-style: italic;">
								"Quest to work and learn in a real professional and vying ambience that enables me to cope with the emerging as well as latest technology and scope for widening of my knowledge"</p>

						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>what i do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-graph3"></span>
									<span class="key-fact">
									ANALYSIS		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
									PROGRAMMING		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-tools"></span>
									<span class="key-fact">
									TESTING		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
									DOCUMENTATION
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>technical skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s" style="text-align:justify;">As a reluctant student, I fled from a traditional path and explored my creativity, trough trying my hands on various techniques and software. Software is more than just a tool, and I try to dig deep into it. Today, I knack for critical thinking, empathy and creativity to create viable and impactful solutions using these technologies.</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">C</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
												<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">JAVA</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="75">
												<strong><i>75</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">HTML 5 & CSS</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="80">
												<strong><i>80</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">MYSQL</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="70">
												<strong><i>70</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Dell Boomi</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="75">
												<strong><i>75</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">NETSUITE</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="75">
													<strong><i>75</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div><div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">JQUERY</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="60">
												<strong><i>60</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="clearfix"></div>
							</div>
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>Know Technologies</h6>
							<P>Swipe for more</P><br>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
								<img src="img/client6.png" alt="client">
								<img src="img/client7.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>


						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>work</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item"   data-src="img/mock1.jpg" data-sub-html="<h6>FACE DETECTION USING DEEP LEARNING</h6><p>The main objective of this project is to locate all the body part accurately.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock1.jpg"  alt="Image description" />
										<span class="hover-cap">FACE DETECTION USING DEEP LEARNING</span>
										</a>
									</li>
									<li class="item" data-src="img/mock2.jpg" data-sub-html="<h6>IMAGE PROCESSING USING MACHINE LEARNING</h6><p>The main objective of this project is to cluster all the similar images into single folder.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock2.jpg"  alt="Image description" />
										<span class="hover-cap">IMAGE PROCESSING USING MACHINE LEARNING</span>
										</a>
									</li>
									<li class="item" data-src="img/mock4.jpg" data-sub-html="<h6>SMOKE DETECTING ALARM</h6><p>The main outcome of this project is to detect the smoke at the time fire accidents.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">SMOKE DETECTING ALARM</span>
										</a>
									</li>
									<li class="item" data-src="img/mock3.jpg" data-sub-html="<h6>EMPLOYEE MANAGEMENT ANDRIOD APP</h6><p>This is a user friendly app that allows user to store and retrive the data instantly.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">EMPLOYEE MANAGEMENT ANDRIOD APP</span>
										</a>
									</li>
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>SMART DRONE</h6><p>This is an intelligent drone that captures the images of crops that are not healthy.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="Image description" />	
										<span class="hover-cap">DRONE</span>
										</a>
									</li>
								</ul>
								
							</div>
						</section>

<!--/Work Sec-->
						<hr class="separater-hr"/>
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>May 2021 – Nov 2021</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Associate Integration Developer</span>
													<span class="job-loc">Tvarana Software Solutions</span>
													<p class="job-summary p-small">I have worked as a Netsuite-Associate Integration Developer.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->
						

						<!--/Education-->
						<hr class="separater-hr"/>
						<!--Education Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>Education</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Jan 2022 — Present</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Masters of Science
													</span>
													<span class="job-loc">USA
													</span>
													<p class="job-summary p-small">I am pursuing my Masters in Computer Science.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Jul 2017 — Jul 2021</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Bachelor of Technology</span>
													<span class="job-loc">SR University
													</span>
													<p class="job-summary p-small">I completed my UnderGraduation in the stream of Computer Science & Engineering.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Apl 2015 – Jul 2017</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Intermediate
													</span>
													<span class="job-loc">Narayana Junior College
													</span>
													<p class="job-summary p-small">I completed my Higher Secondary in MPC</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Oct 2014 – Jul 2015</span></div>
												<div class="col-sm-9">
													<span class="job-desn">10th 
													</span>
													<span class="job-loc">Kendriya Vidyalaya
													</span>
													<p class="job-summary p-small">I have done my schooling from Kendriya Vidyalaya.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Education Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Hello <span  data-ng-bind="formData.inputName||'friend'"></span>, I'd love to hear from you.</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a href="https://www.google.com/gmail/about/">deepakdp2607@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/profile.php?id=100009110214573" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/DeepakYadavWgl?s=08" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="https://www.linkedin.com/in/deepak-yadav-a8bb3a17b" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="https://instagram.com/_deepak07__?utm_medium=copy_link" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="top">
										Go top
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Designed by <b>Deepak &copy; 2021.</b> Updated <b>December, 2021.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>